*{margin: 0; padding: 0;}
@font-face{
    src: url(font/Jalnan2/Jalnan2.otf);
    font-family: "jua";
}
header{
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 1rem 1.4rem;

}
header .icon{
    width: 30px;
}
header .iconText{
    display: inline-block;
    font-size: 20px;
    color: #777;
    margin-left: 10px;
    font-family: "jua";
    
}
header .ins-icon{
    width: 24px;
    margin-left: 190px;
}
